
:root {
  --primary-color: #C4C3C1;
  --secondary-color: #E6DACA;
  --tertiary-color: #030A12;
  --dark-option: rgba(185, 184, 184, 0.705);


  --default-font-color: #575E69;
  --secondary-font-color: #34404D;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background:linear-gradient(120deg, var(--primary-color) 30%, #B9B8B6 60%);
}

body {
  font-size: 62.5%;
}

section{
    border-bottom: 1px double var(--secondary-color);
}

/* Utilities */
p {
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.8;
  color: var(--default-font-color);
}

h2 {
  font-weight: 800;
  font-size: 3rem;
}

h1,h2,h3 {padding: 1rem;}

.p-1 {padding: 1.5rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}

.py-1 {padding: 1.5rem 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}

/*  */

/* Nav-bar */
#navbar{
  height: 80vh;
  width: 100vw;
  position: relative;
  margin-bottom: 3rem;
}

#billboard{
  position: absolute;
  background: url('../Assets/img/billboardMain.jpg') bottom center/cover no-repeat ;
  /* mix-blend-mode:multiply; */
  background-attachment: fixed;
  width: calc(100% -  2rem);
  margin: 0 1rem;
  height: 100%;
  filter: saturate(70%);
}

.nav-container {
  position: fixed;
  background:var(--primary-color);
  background-image: linear-gradient(to right bottom, rgba(#f1f1f1, .85), rgba(#f7f7f7,.85));
  top: 0%;
  width: 100%;
  z-index: 2;
}

#navbar .nav-container .menu{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  justify-content: center;
  border-bottom: 1px dotted var(--secondary-color);
  /* filter: blur(1px) ; */
 
}

#navbar .nav-container .menu h1 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: lowercase;
  flex: 1;
  cursor: progress;
  color: var(--secondary-font-color);
}

#navbar .nav-container .menu h1 span {
  font-size: 1.6rem;
  font-weight: 100;
  font-style: italic;
  color: var(--default-font-color);
}

#navbar .nav-container .menu ul {
  display: flex;
}

#navbar .nav-container .menu ul li {
  list-style: none;
  padding: 0.75rem;
  font-weight: lighter;
  font-size: 0.69rem;
  text-transform: uppercase;
}

#navbar .nav-container .menu ul li a {
  text-decoration: none;
  padding: 1.1rem;
  background-color: var(--dark-option);
  border-radius: 5px;
  color: var(--secondary-font-color);
}

#navbar .nav-container .menu ul li a:hover {
  opacity: 0.4;
}

#navbar .nav-container .menu ul li .current {
  padding: 1.1rem;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  color: var(--primary-color);
  transition: all .8s ease-in;
}

/* Billboard */




/* billboard-2 */


.b-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 70vh;
  cursor: pointer;
}

.b-container .board {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  position: relative;
  clip-path: circle(30% at 50% 50%);
}

.b-container .board .board-video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.b-container .item1 {
  padding: 4rem 1.3rem 2rem 6rem;
}

h2 span {
  display: block;
  color: var(--secondary-color);
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.b-container .item2 {
  padding: 2rem 4rem;
  text-align: center;
}

#billboard > p {
  padding: auto;
  display: block;
  width: 90%;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.8;
  color: #555;
}

/* Media Queries */
@media (max-width: 900px) {
  #navbar {
    display: block;
  }
  header div:nth-child(1).item1 {
    padding: 1rem;
  }
  header div:nth-child(1) .item2 p {
    font-size: xx-small;
  }
  header div:nth-child(1).item1 h2 {
    font-size: 0.8rem;
  }
  header div:nth-child(1).item1 p {
    font-weight: 100;
    font-size: 0.7rem;
    line-height: 1;
    color: #555;
  }
}

/* Gallery*/
.gallery-options {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

#gallery > h2 {
  text-decoration: overline;
}

#gallery > .g-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

#gallery .g-container > *:first-child,
#gallery .g-container > :nth-child(6),
#gallery .g-container > :nth-child(8) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 2;
  align-items: center;
}

#gallery .g-container > :nth-child(6) {
  grid-column: 3 / span 2;
}

#gallery .g-container > :nth-child(8) {
  grid-column: 2 / span 2;
}

#gallery .g-container .card {
  background: #f4f4f4;
  border-radius: 7px;
}

#gallery .g-container .card:hover {
  background: rgba(185, 184, 184, 0.705);
  box-shadow: #dee0e7 0px -5px 5px 0px;
}

.card > img {
  width: 80%;
}

/* ABout Us */
#about-us .container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

#about-us .container article:nth-child(1) {
  border-right: 1px dotted var(--secondary-color);
}

#about-us .container article:nth-child(2),
#about-us .container article:nth-child(3) {
  padding-top: 13rem;
}

#about-us .container .blog {
  grid-row: 1 / span 5;
}

#about-us .container .blog > p > span {
  height: 0.1vh;
}

#about-us .container .blog > p > span > img {
  height: 7rem;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  #about-us .container article:nth-child(1) {
    width: 90vw;
  }
  #about-us .container article:nth-child(2),
  #about-us .container article:nth-child(3) {
    display: none;
    padding: 0rem;
  }
}

/*  */
/* Footer */
#footer .f-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

#footer .f-container div form {
  text-align: right;
}

#footer .f-container div form input[type="text"] {
  margin: 0.6rem 0rem;
  padding: 0.8rem;
  width: 100%;
  border-radius: 6px;
  font-weight: 800;
  border: none;
  outline: none;
}

#footer .f-container div form input[type="submit"],
.btn {
  margin: 0.6rem 0rem;
  padding: 0.6rem;
  background: var(--dark-option);
  width: fit-content;
  color: #111;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  transition: all 0.8s ease-in;
}

#footer .f-container div form h3 {
  visibility: hidden;
}

#footer .f-container div form input[type="submit"]:hover,
.btn:hover {
  background: #666;
}

#footer .f-container div form input[type="submit"]:hover ~ h3 {
  visibility: visible;
}

/* Theme */
.dark {
  background: var(--dark-option);
}
